.logo{
    width:100px;
}
.form-container{
    margin: 0 auto;
    color: #000000;
    opacity:0.8;
    width: 600px;
    background-color: cornflowerblue;
    box-shadow: 3px 5px 10px #285a63;
    border-radius: 10px;
    padding-right: 5%;
}
.page-title{
    text-align: center;
}
.area
{
    background-color: green;
    height: auto;
    border: 2px solid;
    margin: auto;
}
.rightarea
{
    float: left;
    width: 30%;
    height: 300px;
    background-color: red;
}
.leftarea
{
    float: left;
    width: 30%;
    height: 300px;
    background-color: yellow;
}
.table table table-hover{
table-layout: fixed;
      width: 50%;
    text-align : right;
}
.table td {
     width: 1px;
    white-space: nowrap; /* 自适应宽度*/
    word-break:  keep-all; /* 避免长单词截断，保持全部 */
}
body{
        background-image: linear-gradient(150deg,#5bc0de,#d0e9c6);
        background-repeat:no-repeat;
        background-attachment: fixed;
        width:100%;
        height:100%;
        top:0px;
        left: 0px;
        position:absolute;
        z-index:-1;
        background-size:100% 100%;
    }






