<!DOCTYPE html>
<html lang="ch">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="../static/css/font-awesome.css" rel="stylesheet"> <!--选项的图标-->
    <!-- jQuery -->
    <link href='#css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="../static/css/icon-font.min.css" type='text/css'/>
    <!-- //lined-icons -->
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--clock init-->
    <script src="../static/js/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="../static/js/skycons.js"></script>

    <script src="../static/js/jquery.easydropdown.js"></script>
    <style>
        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        /* Table Styles */
        .table-wrapper {
            margin: 0 auto;

        }
        .fl-table {
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            background-color: white;
            margin: 0 auto;
        }
        .fl-table td, .fl-table th {
            text-align: center;
            padding: 8px;
        }
        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 12px;
        }
        .fl-table thead th {
            color: #ffffff;
            background: #324960;
        }
        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }

        .fl-table tr:nth-child(even) {
            background: #F8F8F8;
        }
        /* Resposive */
        @media (max-width: 767px) {
            .fl-table {
                display: block;
                width: 100%;
            }
            .table-wrapper:before {
            {# content: "Scroll horizontally <"; #} display: block;
                text-align: right;
                font-size: 11px;
                color: white;
                padding: 0 0 10px;
            }
            .fl-table thead, .fl-table tbody, .fl-table thead th {
                display: block;
            }
            .fl-table thead th:last-child {
                border-bottom: none;
            }
            .fl-table thead {
                float: left;
            }
            .fl-table tbody {
                width: auto;
                position: relative;
                overflow-x: auto;
            }
            .fl-table td, .fl-table th {
                padding: 20px .625em .625em .625em;
                height: 60px;
                vertical-align: middle;
                box-sizing: border-box;
                overflow-x: hidden;
                overflow-y: auto;
                width: 120px;
                font-size: 13px;
                text-overflow: ellipsis;
            }
            .fl-table thead th {
                text-align: left;
                border-bottom: 1px solid #f7f7f9;
            }

            .fl-table tbody tr {
                display: table-cell;
            }

            .fl-table tbody tr:nth-child(odd) {
                background: none;
            }

            .fl-table tr:nth-child(even) {
                background: transparent;
            }

            .fl-table tr td:nth-child(even) {
                border-right: 1px solid #E6E4E4;
            }

            .fl-table tbody td {
                display: block;
                text-align: center;
            }
        }
    </style>
    <style type="text/css">
        .right{
            width: 800px;
            height:100%;
            background-color: cornflowerblue;
            margin: 0 auto;

        }
        .form-container{
            margin-top: 50px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="margin-left:15%;width:70%;min-width:1000px;max-height:100px;box-shadow: 2px 3px 5px #285a63;border-radius: 10px">
    <div class="container">
        <h1><a href="{{ url_for('teacher_ui') }}" class="glyphicon glyphicon-education" style="background:none;float: left"></a><span style="float: left">课堂知识反馈 &nbsp;</span>
            <form method="post" action="{{ url_for('find') }}" class="navbar-form navbar-left" style="margin-top:-5px;width: 30%">
                <input type="text" name="input_name" class="form-control" placeholder="课程名称/教师">
                <button type="submit" class="glyphicon glyphicon-search" value="查找" ></button>
            </form>
            <button  type="button" style="position:absolute;background-color:powderblue;margin-left:20%;font-size:25px;border-radius: 5px"><span class="glyphicon glyphicon-share-alt" ></span>
                <a href="{{ url_for('student_ui',login_id=stu) }}" style="color:#000000;background-color:powderblue;font-size:20px">返回上一页</a></button>
        </h1>
    </div>
</nav>
{#菜单栏隐藏#}
<script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
        if (toggle) {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position": "absolute"});
        }
        else {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function () {
                $("#menu span").css({"position": "relative"});
            }, 400);
        }

        toggle = !toggle;
    });


</script>
<div class="right" style="box-shadow: 3px 5px 10px #285a63;border-radius: 10px">
    <form  class="form-container"  style="margin-left:-5%;padding:40px">
        <h1 align="center" style="color: aqua"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询结果：</h1>
        <hr width="200px" color="#283348">
    <h4>注意，在本页面提交选择的课程后需要在我已选择课程中填入正确课程码才能对该课程进行擦作</h4>
    <form action="{{ url_for('find_dealwith') }}" method="post">
        <div id="t1" class="table-wrapper" style="height: 100%;padding: 5%;">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>课程</th>
                    <th>教师</th>
                    <th>年级</th>
                    <th>专业</th>
                    <th>班级</th>
                    <th>学院</th>
                    <th></th>
                </tr>
                </thead>
                {% for foo in schedule_name %}
                    <tr>
                        <td>{{ foo.name }}</td>
                        <td>{{ foo.teahcers.name }}</td>
                        <td>{{ foo.grade }}级</td>
                        <td>{{ foo.major }}</td>
                        <td>{{ foo.classes }}班</td>
                        <td>{{ foo.college }}</td>

                        <td><input type="checkbox" name="s_option" value="{{foo.id }}"></td>
                    </tr>
                {% else %}
                    {% for foo in teacher_name %}
                        <tr>
                            <td>{{ foo.name }}</td>
                            <td>{{ foo.teahcers.name }}</td>
                            <td>{{ foo.grade }}级</td>
                            <td>{{ foo.major }}</td>
                            <td>{{ foo.classes }}班</td>
                            <td>{{ foo.college }}</td>

                            <td><input type="checkbox" name="s_option" value="{{foo.id }}"></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <div id="container" style="margin-right: 11%">
            <input class="sub" type="submit" style="border-radius: 5px;width: 100px; height: 40px;float: right">
            <script>
                $(document).ready(function () {
                    $("input.sub").click(function () {
                        {#                               location.reload(true);#}
                        alert("选择成功，按确定返回")
                        {#                        location.reload(true);#}
                    });
                });
            </script>
            {% for message in get_flashed_messages() %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        </div>
            <br><br>
        </div>
    </form>
    </form>
</div>
<div class="sidebar-menu" style="background-color: #3bb3e0">
    <header class="logo">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo"> <h1>教学反馈</h1></span>
    </a>
    </header>
    <!--/down-->
    <div class="down" >
        <a href="index.html"><img src="../static/img/student.jpg" style="width: 50px;height: 50px;"></a>
        <a href="index.html"><span class=" name-caret">{{ student_info.name }}</span></a>
        <p>认真学习，努力变强！</p>
        <ul>
            <li><a class="tooltips" href="{{ url_for('person_info') }}"><span>个人中心</span><i class="lnr lnr-user"></i></a></li>
            <li><a class="tooltips" href="#"><span>设置</span><i class="lnr lnr-cog"></i></a></li>
            <li><a class="tooltips" href="{{url_for('home')}}"><span>退出</span><i class="lnr lnr-power-switch"></i></a></li>
        </ul>
    </div>
    <!--//down-->
    <div class="menu" style="background-color: #2ecc71">
        <ul id="menu" style="background-color: #2ecc71">
            <li><a href="#"><i class="fa fa-tachometer" ></i> <span>个人中心</span></a></li>

            <li id="menu-comunicacao" ><a href="#"><i class="fa fa-smile-o"></i> <span>选择课程</span><span class="fa fa-angle-double-right" style="float: right"></span></a>
                <ul id="menu-comunicacao-sub" >
                    <li id="menu-mensagens" style="width:120px" ><a href="#">{{now_year}}级<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                        <ul id="menu-mensagens-sub" style="overflow-x: hidden; height:200px; width:200px; border: solid 1px #aaa; margin: 0 auto;">

                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for('student_selet',grade=now_year,name="计算机工程技术学院") }}">计算机工程技术学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="大数据与人工智能学院") }}" >大数据与人工智能学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet" ,grade=now_year,name="商学院" )}}">商学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet" ,grade=now_year ,name="应用外语学院") }}">应用外语学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="旅游学院") }}">旅游学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year, name="机器人学院") }}">机器人学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year ,name="建筑工程学院") }}">建筑工程学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year ,name="广州学院") }}">广州学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year ,name="继续教育学院") }}">继续教育学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="创新创业学院") }}">创新创业学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="马克思主义学院") }}">马克思主义学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="艺术设计学院") }}">艺术设计学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="机械与汽车学院") }}">机械与汽车学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="财会与金融学院") }}">财会与金融学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="国际合作学院") }}">国际合作学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="体育健康学院") }}">体育健康学院</a></li>
                            <li class="{{now_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=now_year,name="文化与传媒学院") }}">文化与传媒学院</a></li>
                        </ul>
                    </li>
                    <li id="menu-mensagens" style="width:120px" ><a href="#">{{last_year}}级<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                        <ul id="menu-mensagens-sub" style="overflow-x: hidden; height:200px; width:200px; border: solid 1px #aaa; margin: 0 auto;">
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for('student_selet',grade=last_year,name="计算机工程技术学院") }}">计算机工程技术学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="大数据与人工智能学院") }}" >大数据与人工智能学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet" ,grade=last_year,name="商学院" )}}">商学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet" ,grade=last_year ,name="应用外语学院") }}">应用外语学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="旅游学院") }}">旅游学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year, name="机器人学院") }}">机器人学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year ,name="建筑工程学院") }}">建筑工程学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year ,name="广州学院") }}">广州学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year ,name="继续教育学院") }}">继续教育学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="创新创业学院") }}">创新创业学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="马克思主义学院") }}">马克思主义学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="艺术设计学院") }}">艺术设计学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="机械与汽车学院") }}">机械与汽车学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="财会与金融学院") }}">财会与金融学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="国际合作学院") }}">国际合作学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="体育健康学院") }}">体育健康学院</a></li>
                            <li class="{{last_year}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year,name="文化与传媒学院") }}">文化与传媒学院</a></li>
                        </ul>
                    </li>
                    <li id="menu-mensagens" style="width:120px" ><a href="#">{{last_year_before}}级<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                        <ul id="menu-mensagens-sub" style="overflow-x: hidden; height:200px; width:200px; border: solid 1px #aaa; margin: 0 auto;">
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for('student_selet',grade=last_year_before,name="计算机工程技术学院") }}">计算机工程技术学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="大数据与人工智能学院") }}" >大数据与人工智能学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet" ,grade=last_year_before,name="商学院" )}}">商学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet" ,grade=last_year_before ,name="应用外语学院") }}">应用外语学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="旅游学院") }}">旅游学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before, name="机器人学院") }}">机器人学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before ,name="建筑工程学院") }}">建筑工程学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before ,name="广州学院") }}">广州学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before ,name="继续教育学院") }}">继续教育学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="创新创业学院") }}">创新创业学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="马克思主义学院") }}">马克思主义学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="艺术设计学院") }}">艺术设计学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="机械与汽车学院") }}">机械与汽车学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="财会与金融学院") }}">财会与金融学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="国际合作学院") }}">国际合作学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="体育健康学院") }}">体育健康学院</a></li>
                            <li class="{{last_year_before}}"id="menu-mensagens-recebidas"  style="width:200px"><a href="{{ url_for("student_selet",grade=last_year_before,name="文化与传媒学院") }}">文化与传媒学院</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="{{ url_for('rand_core') }}"><i class="lnr lnr-envelope"></i> <span>待操作的课程</span><span class="fa fa-angle-right"
                                                                                                               style="float: right"></span></a>
            </li>

            <li><a href="#"><i class="lnr lnr-chart-bars"></i> <span>已选课程</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                <ul>
                    {% for schedule in schedule_all %}
                        <li><a href="{{ url_for("student_kown",schedule_id=schedule.id) }}"><i class="lnr lnr-map"></i>{{ schedule.name }}</a></li>
                    {% else %}
                        <li><a href="#"><i></i>无</a></li>
                    {% endfor %}



                    {#						<li><a href="graph.html"><i class="lnr lnr-apartment"></i> 知识点评论</a></li>#}
                </ul>
            </li>
        </ul>
    </div>
</div>
<br>
</body>
</html>