var chart = Highcharts.chart('container', {
	chart: {
		type: 'column'
	},
	title: {
		text: '堆叠柱形图'
	},
	xAxis: {
		categories: ['苹果', '橘子', '梨', '葡萄', '香蕉']
	},
	yAxis: {
		min: 0,
		title: {
			text: '水果消费总量'
		},
		stackLabels: {  // 堆叠数据标签
			enabled: true,
			style: {
				fontWeight: 'bold',
				color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
			}
		}
	},
	legend: {
		align: 'right',
		x: -30,
		verticalAlign: 'top',
		y: 25,
		floating: true,
		backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
		borderColor: '#CCC',
		borderWidth: 1,
		shadow: false
	},
	tooltip: {
		formatter: function () {
			return '<b>' + this.x + '</b><br/>' +
				this.series.name + ': ' + this.y + '<br/>' +
				'总量: ' + this.point.stackTotal;
		}
	},
	plotOptions: {
		column: {
			stacking: 'normal',
			dataLabels: {
				enabled: true,
				color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
				style: {
					// 如果不需要数据标签阴影，可以将 textOutline 设置为 'none'
					textOutline: '1px 1px black'
				}
			}
		}
	},
	series: [{
		name: '小张',
		data: [5, 3, 4, 7, 2]
	}, {
		name: '小彭',
		data: [2, 2, 3, 2, 1]
	}, {
		name: '小潘',
		data: [3, 4, 4, 2, 5]
	}]
});